.Header{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.upHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1295DB;
    color: white;
}
.upHeader p{
    padding:  5px ;
    margin: 0;
}
.header-name{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.header-contact .icon-group{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo{
    padding-right: 50px;
}
.logo img{
    height: 70px;
}
.header-nav .navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-nav .navigation a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:#1295DB;
    padding: 10px 8px;
}
.header-nav .navigation a:hover{
    background-color: #1295DB;
    color: white;
    border-radius: 10px;
}
.header-search{
    padding: 5px
}
.search-responsive{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}
.search-responsive-wrapper{
    width: 90%;
    display: flex;
    background-color: white;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
}
.search-responsive input{
    width: 60%;
    border: none;
    outline: none;
    padding: 18px  10px;
    font-size: 14px;
    border-radius: 45px;
}
.login-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.login-group a{
    color:white;
    text-decoration: none;
    padding: 5px
}
.login-group:hover{
    cursor: pointer;
}
.login-group::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background-color: currentColor;
    transition: width 0.6s ease; 
}
.login-group:hover::after {
    width: 100%;
}
.login-group .user-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.login-group .user-name button{
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 3px 8px;
}

@media (max-width: 1200px) {
    .header-nav {
        display: none;
    }
    .login-group{
        display: none;
    }
    .just-a-line{
        display: none;
    }
}

@media (max-width: 650px) {
    .header-contact{
        display: none;
    }
}