.bgCover {
    width: 100%;
    height: auto;
    object-fit: cover; 
    display: block;
}
.thumbnail{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/thumbnail.png');
}

.thumbnail form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    max-width: 1100px;
    padding: 20px 30px;
    border-radius: 12px;
}
.booking-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 20px 50px;
    border: 1px solid brown;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(74, 70, 70);
}
.booking-input h4{
    padding: 0;
    margin: 0;
}
.booking-input input{
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    outline: none; 
}
.booking-input .calendar{
    display: flex;
}   

.thumbnail button{
    background-color:#FFA901 ;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.thumbnail button:hover{
    background-color: #e19601;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1200px) {
    .thumbnail{
        margin-top: 50px;
        background-image: none;
    }
    .thumbnail form {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
    }
    .thumbnail button{
        padding: 15px 50px;
    }
    .bgCover{
        display: block;
    }
}
